*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.react-responsive-modal-modal {
    border-radius: 16px;
    animation-fill-mode: forwards !important;
  }

  .react-responsive-modal-overlay{
    animation-fill-mode: forwards !important;
  }

  .mobile-pincode-main-section{
    display: none;
  }

  .pincode-main-section{
    display: block;
  }

  #pincode-submit{
  }

  #mobile-pincode-submit{
    display: none;
  }
  
  @media only screen and (max-width:580px) {
    .pincode-main-section{
      display: none;
    }

    .mobile-pincode-main-section{
      display: block;
    }

    /* #pincode-submit{
      display: none;
    } */

    #mobile-pincode-submit{
      display: block;
    }
  }